@model Proyecto.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Pedido</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de corte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_corte)
        </dd>

        <dt>
            Fecha de facturacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_facturacion)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Pedido", "Edit", new { id = Model.id_pedido }) |
    @Html.ActionLink("Volver", "Index")
</p>
