@model Proyecto.Proveedores

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre de Proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Proveedor)
        </dd>

        <dt>
            @Html.Label("Nombre de Contacto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Contacto)
        </dd>

        <dt>
            @Html.Label("Pais")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.Label("Telefono 1")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono1)
        </dd>

        <dt>
            @Html.Label("Telefono 2")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono2)
        </dd>

        <dt>
            @Html.Label("Correo 1")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo1)
        </dd>

        <dt>
            @Html.Label("Correo 2")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Proveedor" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
