@model Proyecto.Usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Usuario</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.Label("Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.Label("Contraseña")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.Label("Tipo de Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Usuario.Tipo_Usuario1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Usuario", "Edit", new { id = Model.Nombre_Usuario }) |
    @Html.ActionLink("Volver", "Index")
</p>
